<p id="notice"><%= notice %></p>

<p>
  <b>Month:</b>
  <%= @fiscal_projection.january %>
</p>


<%= link_to 'Edit', edit_fiscal_projection_path(@fiscal_projection) %> |
<%= link_to 'Back', fiscal_projections_path %>
