<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @practice_group.name %>
</p>


<%= link_to 'Edit', edit_practice_group_path(@practice_group) %> |
<%= link_to 'Back', practice_groups_path %>
