<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @opportunity_type.name %>
</p>


<%= link_to 'Edit', edit_opportunity_type_path(@opportunity_type) %> |
<%= link_to 'Back', opportunity_types_path %>
